<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="keywords" content="采幻のハルモニア,CAPRa,canacel" />
	<title>采幻のハルモニア</title>
	<link href="{{url_for('static', filename='index/index.css')}}" rel="stylesheet" type="text/css" media="all">
</head>
<body>
	<div id="container">
		<div class="first-view">
			<section id="Top">
				<img src="{{url_for('static', filename='index/saigen_yoko.png')}}" alt="采幻のハルモニア" id="circle-cut-pc">
				<img src="{{url_for('static', filename='index/saigen_tate.png')}}" alt="采幻のハルモニア" id="circle-cut-sp">
				<div class="messages">
					<img src="{{url_for('static', filename='index/message1.png')}}" alt="" id="message1">
					<img src="{{url_for('static', filename='index/message2.png')}}" alt="" id="message2">
				</div>
			</section>
		</div>
		<div class="hidden-view">
			<main>
				<section id="Information">
					<h2 class="Headline">
						<img src="index/information.png" alt="Information" class="headline-img">
					</h2>
					<div class="information-area">
						<div class="information-detail">
							<dt>2018.04.27</dt>
							<dl>2018.4.29の春M3において、サークル"Tsukuba DTM Society"から頒布されるアルバム "DYED -Departure-" の3曲目に、新曲 "Vivi" で参加</dl>
							<dt>2017.11.8</dt>
							<dl>秋M3頒布 "Lostructure-Harmony" の<a href="./saigen-0001.html">特設サイト</a>にて、差し替え音源のリンクを掲載</dl>
							<dl>SoundCloud に「The End of Harmonia」をUP</dl>
							<dt>2017.10.23</dt>
							<dl>ホームページを公開</dl>
							<dl>秋M3頒布 "Lostructure-Harmony" の<a href="./saigen-0001.html">特設サイト</a>を公開</dl>
						</div>
						<div class="information-detail">
							<dt>2017.8.15</dt>
							<dl>SoundCloud に試聴曲「Reconstructed-Harmony "空っ風" feat. 闇音レンリ」をUP</dl>
						</div>
					</div>
				</section>
				<section id="Soundcloud">
					<h2 class="Headline">
						<img src="{{url_for('static', filename='index/soundcloud.png')}}" alt="Soundcloud" class="headline-img">
					</h2>
					<div class="soundcloud-messages">
						<p class="message">私たちは過去を否定した。しかしそれはひどくこびり着いて、離れなかった。</p>
						<p class="message">離そうとしなかった。反省なんて、簡単にできるものじゃない。</p>
					</div>
					<div class="soundcloud">
						<iframe width="80%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/352477385&amp;color=%23ff9900&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
					</div>
				</section>
				<section id="Member">
					<h2 class="Headline">
						<img src="{{url_for('static', filename='index/member.png')}}" alt="Member" class="headline-img">
					</h2>
					<div class="members">
						<div class="member-box" id="CAPRa">
							<img src="{{url_for('static', filename='index/CAPRa.jpg')}}" alt="CAPRaのアイコン" class="a-sha">
							<div class="member-detail">
								<h3>CAPRa</h3>
								<p>采幻のハルモニア主宰。ツイッターの中の人。</p>
								<p><a href="https://twitter.com/CAPRa_san/">Twitter</a></p>
								<p><a href="https://soundcloud/aygtr-capra/">Soundcloud</a></p>
							</div>
						</div>
						<div class="member-box" id="canacel">
							<img src="{{url_for('static', filename='index/canacel.jpg')}}" alt="canacelのアイコン" class="a-sha">
							<div class="member-detail">
								<h3>canacel</h3>
								<p>サイケデリック社会人。楽団ガーネット主宰。</p>
								<p><a href="https://twitter.com/canacel_neko/">Twitter</a></p>
								<p><a href="https://soundcloud.com/canacel">Soundcloud</a></p>
							</div>
						</div>
					</div>
				</section>
				<section id="CONTACT">
					<h2 class="Headline">
						<img src="{{url_for('static', filename='index/contact.png')}}" alt="Contact" class="headline-img">
					</h2>
					<p>音源の使用や楽曲制作等で御用の方は以下のアドレスにご連絡ください。</p>
					<p>saigennoharmonia(at)gmail.com</p>
				</section>
			</main>
			<footer>
				<small>&copy;采幻のハルモニア 2017-2019</small>
			</footer>
		</div>
	</div>
</body>
</html>
