<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="keywords" content="采幻のハルモニア,Lostructure-Harmony,CAPRa,canacel" />
  <link rel="stylesheet" href="{{url_for('static', filename='saigen-0001/saigen-0001.css')}}">
  <title>Lostructure-Harmony</title>
  <script src="https://use.fontawesome.com/f0c1028875.js"></script>
</head>
<body>
  <div id="loading">
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i><br/>
    <span>Loading...</span>
  </div>
  <div id="container">
    <div class="first-view">
    </div>
    <div class="hidden-view">
      <section id="apology">
        <h2>お詫び</h2>
        <p>Tr.8 "The End of Harmonia"について、音が割れている状態で収録されていることについて、心よりお詫び申し上げます。大変申し訳御座いませんでした。</p>
        <p><a href="https://drive.google.com/drive/folders/1mlVB1TVZ7LzDFxEdwDbn1cjhgvfUHLEG">こちら</a>から修正音源のダウンロードが可能となっております。お手数お掛けしますが、お手元の音源と差し替えて頂きますよう、よろしくお願い申し上げます。</p>
      </section>
      <section id="soundcloud">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/349235007&amp;color=%23ff9900&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
      </section>
      <section id="detail">
        <div class="detail">
          <img src="{{url_for('static', filename='saigen-0001/jacket.jpg')}}" alt="ジャケットの画像" id="jacket">
          <dl class="detail-info">
            <dt><h4>Title</h4></dt>
            <dd>Lostructure-Harmony</dd>
            <dt><h4>Release</h4></dt>
            <dd>2017.10.29 秋M3 う-29a</dd>
            <dt><h4>Genre</h4></dt>
            <dd>日本和声×オーケストラ×EDM</dd>
            <dt><h4>Price</h4></dt>
            <dd>¥1000</dd>
          </dl>
        </div>
      </section>
      <section id="track-list">
        <h2>Track List</h2>
        <p>1. Introduction</p>
        <p>2. Introspection</p>
        <p>3. amateras</p>
        <p>4. musuhi</p>
        <p>5. takemikazuchi</p>
        <p>6. Signiphobia</p>
        <p>7. Reconstructed-Harmony "空っ風"</p>
        <p>8. The End of Harmonia</p>
      </section>
      <section id="liner-notes">
        <h2>Liner Notes</h2>
        <h4>1. Introduction</h4>
        <p class="liner-notes-detail">日本に初めて「音楽(=music)」が導入されたこと、それは日本における「世界音楽の時代」（ブルーノ・ネトル）の始まりでした。<br />「発展」した西洋和声は文明化の象徴とされ、音楽においても西洋に追いつき、追い越す時代が始まります。</p>
        <h4>2. Introspection</h4>
        <p class="liner-notes-detail">1900年前後には日本が先進国の仲間入りを果たし、ナショナリズムが勃興します。<br />それと並行して、行き過ぎた欧化への自己反省（introspection）が求められ、一方で「日本らしさ」が模索されるようになりました。<br />1:45以降のピアノには日本和声の不思議な響きが現れています。</p>
        <h4>3. amateras</h4>
        <p class="liner-notes-detail">とはいえ、西洋音楽体系から完全に抜け出すことはできません。<br />むしろ、山田耕筰の作品に象徴されるように、日本人が書いた西洋音楽作品にも「日本らしさ」が現れていることに気付き始めるのです。<br />この曲に日本和声・日本音階は用いられておりませんが、どこか日本らしい雄大さが現れているのではないでしょうか。</p>
        <h4>4. musuhi</h4>
        <p class="liner-notes-detail">「産霊（むすひ）」は、日本人の世界認識として賞揚された根本概念の一つです。<br />すべての魂がめぐりめぐる様子を、日本和声とダウンテンポの響きで表現しました。<br />ただし、そもそも「日本/日本人」というもの自体、明治以降に確立した概念です。「産霊」といった古来の概念が「日本らしさ」として再発見されていく事実の上に、私たちは生きています。</p>
        <h4>5. takemikazuchi</h4>
        <p class="liner-notes-detail">全編にわたり日本和声を多く用いた作品です。<br />drum'n bassを基調としながらも、弦楽器やピアノを用いて綺麗で力強い作品に仕上げました。<br />こうした「力強さ」も、欧米を超え、「大東亜の盟主」となる国民として必要とされていく「日本らしさ」の一つでした。</p>
        <h4>6. Signiphobia</h4>
        <p class="liner-notes-detail">ここでは日本和声は用いられておりません。<br />「日本らしさ」という「記号」に取り憑かれ、答えのない問いに答えを出そうとする議論は、もはや現代では否定されるべきものです。<br />「日本らしさ」という記号は包摂と排除の指標として機能こそすれど、実態としての私たちを何一つ表象しません。<br />一方で、この曲を聴いた世界の誰かは、これを「日本らしい」音楽だというのかもしれませんが。</p>
        <h4>7. Reconstructed-Harmony "空っ風"</h4>
        <p class="liner-notes-detail">日本は敗戦を迎え、「日本らしさ」にこだわる人々の考えはすべからく「反省」されました。<br />しかし私たちは、これを「反省」しきれたのでしょうか。<br />いや、今や「日本/日本らしさ」は自明のものとなり、消費の対象でさえあります。<br />歴史はつながって、私たちを深く規定し続けています。</p>
        <h4>8. The End of Harmonia</h4>
        <p class="liner-notes-detail">私たちの「日本和声」の試みはひとまずこれで終わりです。<br />日本和声はいまや歴史の闇へと葬られてしまいましたが、「日本らしさ」それ自体は戦争を経ても生きながらえ、透明化され、私たちを自己画定(identify)し続けました。<br />こうした事実とその内実を、我々は音楽を通して直視したかったのです。<br /><br />最後のピアノは、燃え盛る街の火がピアノに燃え移ってもなお弾き続ける様子をイメージしています。<br />炎のなかでも、彼/彼女らは生き続け、その曲が途切れることはありません。<br />どんな形であれ、彼らが奏でた時代の変奏曲として、私たちの時代があるということ。そのことをどう引き取るかは、現在においてこそ深く見つめ直すことができるものではないでしょうか。</p>
      </section>
      <section id="lylics">
        <h2>Lylics</h2>
        <h3>7. Reconstructed-Harmony <br/>"空っ風"</h3>
        <p>
          咲いた花が散る　舞う塵の声<br/>
          錆びれた過去も通り過ぎたら<br/>
        </p>
        <p>
          ここにはもう　戻ることはないね<br/>
          そうあの日も　こんな乾いた<br/>
        </p>
        <p>
          朝日がやけにまぶしくて<br/>
          壊れた心の隅に　ああ見つけた<br/>
          消せない空っぽの焦燥<br/>
        </p>
        <p>
          今更　乾いた目がかえって憎らしくて<br/>
          見えない傷を探してるから<br/>
        </p>
        <p>
          こうしてまた　哀しくなるんだよ<br/>
          そうあれから　変われない僕は<br/>
        </p>
        <p>
          よく見て<br/>
          ほら　一筋の光が<br/>
          そう君には<br/>
          よく見えてるんでしょうね<br/>
        </p>
        <p>
          乾いた空に　映し出した記憶が<br/>
          濡らした声と響き合い<br/>
          飛んでった<br/>
        </p>
        <p>
          朝日がやけに心地よくて<br/>
          消えそうな　心の隅に突き刺さる<br/>
          消せない空っぽの焦燥<br/>
        </p>
      </section>
      <section id="credit">
        <h2>Credit</h2>
        <dl>
          <div class="credit-member">
            <dt><h4>Jacket</h4></dt>
            <dd>
              yu-ta<br/>
              <a href="https://yu-tayu.tumblr.com">tumblr</a>
            </dd>
          </div>
          <div class="credir-member">
            <dt><h4>Projected by</h4></dt>
            <dd>
              采幻のハルモニア<br/>
              <a href="/">homepage</a>
            </dd>
          </div>
        </dl>
      </section>
    </div>
  </div>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script>
  $(window).on('load', function () {
    $('#loading').fadeOut();
    // $('#container').css('display', 'block');
    $('#container').fadeIn('slow');
  });
  </script>
</body>
</html>
